<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div class="row">
        <div class="col-lg-4">Name</div>
        <div class="col-lg-4"><input type="text" name="name" ng-model="name"></div>
    </div>

    <div class="row">
        <div class="col-lg-4">Date of birth</div>
        <div class="col-lg-4"><input type="text" name="dateOfBirth" ng-model="dateOfBirth"></div>
    </div>

    <div class="row">
        <div class="col-lg-4">Living place</div>
        <div class="col-lg-4"><input type="text" name="livingPlace" ng-model="livingPlace"></div>
    </div>

    <div class="row">
        <div class="col-lg-4">Contact</div>
        <div class="col-lg-4"><input type="text" name="contact" ng-model="contact"></div>
    </div>

    <div class="row">
        <div class="col-lg-4">Movies</div>
        <div class="col-lg-4"><input type="text" name="contact" ng-model="movies"></div>
    </div>  

    <input type="button" id="btnUpdate" value="Update" ng-click="addNewItem();" />
</body>
</html>
